.entry-meta i{
    position: static !important;

}
.entry-meta li {
    font-size: 10px;
    margin: 0 15px 8px 0;
    color: #999;
}

.entry-content *{
    font-family: 'Poppins', sans-serif  !important;
    font-size: 11px !important;
    white-space: normal !important;
    color: #555555;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.5s;
    text-indent: 0px;
    line-height: 1.75 !important;
}
.entry-content:hover *{
    color: #0F66DD;
    text-decoration: underline !important;
    cursor: pointer;
}
.grid-inner.card{
    transition: all 0.5s;
}

.grid-inner:hover.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    ;
    transform: scale(1.015);
    cursor: pointer;
}
.grid-inner:hover .title-blog a{
    color: #0F66DD !important;

}
.entry-content{
  height: 25px;
}
.title-blog{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 996px) {
    .entry-content *{
        font-size: 10px !important;
    }
}


/* Detail */

.blogs-detail-title{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.container-detail{
    margin-top: -50px;
}

.head-blog-detail{
    height: 40vh;
}

.head-blog-detail .span-time{
    font-size: 0.875rem !important;
}
.detail-text{
    margin: 0px 5px;
}
.detail-text *{
    text-align: justify  !important;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif !important;
}
.body-blogs-detail{
    padding-right: 10px;
    border-right: 1px solid rgba(128, 128, 128, 0.35);
}
.txt-copyright{
    font-size: 11px;
    color: #555555A1;
    text-align: center;
}
.share-card{
    border: 0px;
}
.share-card img{
    width: 52px;
    height: 52px;
    object-fit: contain;
    margin: 0px 5px;
}
.share-card img:hover{
    opacity: 0.8;
    transform: scale(0.95);
}

.share-card-fixed{
    position: fixed;
    left: 3px;
    top: 46%;
    z-index: 1000;
    display: block;
}
.share-card-fixed img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-bottom: 3px;
}

.blog-right-child{
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 15px;

}

.blog-right-child:hover{
    box-shadow: rgba(6, 26, 53, 0.2) 0px 2px 8px 0px;
}
.blog-right-child .img-blog-detail{
    height: 80px;
    width: 100px;
    object-fit: cover;
    margin-right: 10px;

}
.blog-right-child .info-title{
    color: #0F66DD;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.blog-right-child:hover .info-title{
    text-decoration: underline  !important;
    color: #06326e;
}
.blog-right-child .span-detail{
    font-size: 12px;
    color: #555555A1;
    margin-bottom: 0px ;
}

.title-latest-art{
    padding: 10px 5px;
    border-top: 2px solid #06326e;
    border-bottom: 2px solid #06326e;
    margin-bottom: 10px;
}
.title-latest-art .title-latest{
    color: #06326e;
    font-weight: 700;
    margin-bottom: 0px;
}

.list-blog{
    position: sticky;
    top: 90px;
}

@media screen and (max-width: 996px) {
    .detail-text *{
        font-size: 16px !important;
    }
    .blog-right-child{
        display: block;

    }
    .list-blog{
        margin-top: 25px;
    }
    .blog-right-child .img-blog-detail{
        width: 100%;
        margin-bottom: 5px;
    }
    .blog-right-child .span-detail{
        font-size: 11px;
    }
    .body-blogs-detail{
        border: none;
    }
    .head-blog-detail{
        height: 35vh;
    }
    .blogs-detail-title{
        font-size: 32px !important;
    }
}

@media screen and (max-width: 450px) {
    .blogs-detail-title{
        font-size: 23px !important;
    }
    .span-time{
        font-size: 10px;
    }
    .head-blog-detail{
        height: 45vh;
    }
    .detail-text *{
        font-size: 14px !important;
    }
    .container-detail{
        margin-top: -35px;
    }
}
