.menu-link div{
    margin-top: 8px;;
    margin-bottom: 8px;
    text-align: center;
}


.header-size-sm #header-wrap #logo img {
    height: 75px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-element{
    height: 100vh;
}

.banner-img{
    max-height: 350px;
    object-fit: contain;
}
.swiperBanner .swiper-button-next:after,.swiperBanner .swiper-button-prev:after{
    color: white;
}

.swiperBanner .swiper-pagination{
    bottom: 0px !important  ;
}
.span-bl{
    color: #0F66DD!important;
}

.img-layanan{
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}
.little-list{
    margin-left: 25px;;
}
.little-list li{
    font-size: 13px;
    margin-bottom: 5px;
}
.iconlist> li{
    line-height: 2;
    margin-bottom: 7px;
}
.button-primary:hover{
   
        background-color: #0F66DD80 !important;
   
}
.map-title{
    position: relative;
    min-width: 70%;
    top: auto !important;
    left: auto !important;
    transform: translate(0%, 0%);
    margin-top: 0px !important;
}

.counter-section{
    margin-top: 0px  !important;
}
.img-logo-testi{
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

.testi-box{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.section-gradient{
    background: linear-gradient(to bottom, var(--themecolor, #0F66DD) 55%,#FFF 99%) !important; 
}

.swiperTestimoni .swiper-button-next:after,.swiperTestimoni .swiper-button-prev:after{
    color: white;
    font-weight: 900;
}

.iframe-calendar{
    
    height: 100%;
}

form label{
    color: #555 !important;
}

form .form-control, form .form-select{
    margin-bottom: 5px;
}

.btn-white{
    
    color: #0F66DD;
    background-color: white;
}
.btn-blue{
    color: white;
    background-color: #0F66DD;
    border: 1px solid white;
}
.btn-bigger{
    font-size: 19px;
    font-weight: 600;
    padding: 12px 20px;
}
.svg-trigger{
    width: 45px;
    height: 45px;;
}
.btn-wa{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 55px;
    height: 55px;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: none  !important;
    z-index: 100;
}
.btn-wa i{
    font-size: 38px;
    color: white;
}
.img-footer{
    height: 65px ;
}
.box-layanan{
    cursor: pointer;
}
.box-layanan:hover{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
     transition: all 0.5s;
     background: #f0f0f0;
}
.box-layanan:hover h4{
    color: #0F66DD !important;
    transition: all 0.5s;
}
.box-layanan img{
    height: 200px;
    
}
.card-pricing{
    border-radius: 20px;
}
.card-mobile-price .title-price,
.card-pricing .title-price{
    color: #06326e;
}
.card-mobile-price .price-val,
.card-pricing .price-val{
    color: #031938e8;
}
.divider-vertical{
    background-color: gray;
    height: 1px;
    width: 100%
    
}
.pricing-item i{
    font-size: 18px;
    color: #0F66DD;
}
.pricing-item{
    color: #000000ee;
    font-weight: 500;
    margin-bottom: 15px;
}
.pricing-border-right{
    border-right: 3px solid #6d7e9666;
}

.list-item li{
    color: #808080;
}
.list-item{
    margin-left: 58px;
    margin-bottom: 15px;
}
.btn-blue-dark{
    background-color: #06326e;
    color: white;
    font-weight: 700;
}
.btn-blue-dark:focus,
.btn-blue-dark:hover{
    background-color: #0b5ccc;
    transform: scale(1.15);
    transition: all 0.5s;
}
.btn-blue-dark:focus{
    box-shadow: none !important;
}

@media screen and (max-width: 996px) {
    .banner-element{
        height:90vh;
    }
    .iframe-calendar{
        min-height: 400px;
    }
    .pricing-border-right.second-b{
        border-right: none;
    }
    .pricing-border-none{
        margin-top: 15px;
        padding-top: 15px;
        
    }
    .card-mobile-price{
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}

@media screen  and (max-width: 450px){
    .banner-element{
        height: 110vh;
        padding: 0px !important;
        min-height: 820px;
    }
    .swiperTestimoni .swiper-button-next, .swiperTestimoni .swiper-rtl .swiper-button-prev{
        right: 0px;;
    }
    .swiperTestimoni .swiper-button-prev, .swiperTestimoni .swiper-rtl .swiper-button-next{
        left: 0px;;
    }
    .swiperTestimoni .swiper-button-next:after,.swiperTestimoni .swiper-button-prev:after{
        color: white;
        font-size: 18px;

    }
    .testi-box{
        margin-left: 25px;
        margin-right: 25px;
    }
    .img-logo-testi{
        width: 145px;
        height: 145px;
        margin-bottom: 15px;;
    }
    .testi-details{
        font-size: 12px;
    }
    .testi-title{
        font-size: 18px;
    }
    .testi-jabatan{
        font-size: 14px;
    }
    .banner-img{
        max-height: 250px;
    }
}