.header {
    background-color: #3c78d8;
}

.footer {
    background-color: #3c78d8;
}
#header.transparent-header.full-header #header-wrap{
    border-bottom: none ;
}
.header-mobile {
    background-color: #3c78d8;
}
.content {
    background-color: #f4f8ff;
    padding-bottom: 0px !important;
}
#logo img{
    height: 75px !important;
}
/* banner */
.banner-hero {
    background: linear-gradient(70deg, #3c78d8, #85b4ff, #3c78d8);
    min-height: 390px;
}

.banner-hero .title {
    color: white;
    font-weight: 600;
}

.banner-hero .desc {
    color: white;
    margin-bottom: 0px;
}
.mySwiper {
    height: 100%;
}
.mySwiper .slide {
    height: 100%;
    width: 100%;
    background-color: white;
}
.img-banner {
    height: 360px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
    font-size: 25px !important;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    background: #3c78d8;
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    color: white !important;
}

.sim-div-blue {
    width: 100%;
    height: 160px;
    background-color: #3c78d8;
    border-radius: 5px;
}
.sim-div-blue h4 {
    color: white;
    font-weight: 600;
    margin: 0px;
    
}

.sim-div-white {
    width: 100%;
    height: 160px;
    background-color: white;
    border: 2px solid #3c78d8;
    border-radius: 5px;
}
.sim-div-white h4 {
    color: #3c78d8;
    font-weight: 600;
    margin: 0px;
    
}

.img-section-1 {
    width: 88% !important;
    height: 140px !important;
    object-fit: cover;
}

.img-section-1-alt {
    width: 190px !important;
    max-width: 100%;
    height: 190px !important;
    object-fit: cover;
}

label{
    margin-bottom: 3px !important;
}
.divider {
    height: 70px;
}
.divider-sect{
    height: 70px;
}
.title-part {
    color: black;
    font-weight: 600;
}
.section-2 {
    background: linear-gradient(-70deg, #3c78d8, #66a1ff, #3c78d8);
}
.title-part-white {
    color: white !important;
    font-weight: 600;
}
.title-part span {
    color: #3c78d8;
}
.white-title.heading-block::after{
    border-top: 2px solid white;
}
.blue-title.heading-block::after{
    border-top: 2px solid #3c78d8;
}
.layanan.card{
    border-radius: 15px;
    border: 3px solid #5596ff;
    
}
.layanan .header-card{
    padding: 10px 5px;
    border-bottom: 3px solid #00000040;
}
.layanan .title{
    color: #3c78d8;
}
.layanan .body-card{
    padding: 10px 5px;
    height: 100%;
}
.btn-blue{
    background-color: #3c78d8;
    color: white;
    font-weight: 600;
}
.blue-text{
    color: #3c78d8 !important;
    text-align: center;
    margin-bottom: 20px;
}
.inner-pad{
    height: 40px;
}
.img-client{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}
.section-4 {
    background: linear-gradient(120deg, #3c78d8,#769fe0, #3a83f8, #66a1ff, #3c78d8);
}
.feature-pc{
    height: 70px;
}
.img-logo-testi{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}
.divider::after, .divider::before{
    background-color: #ffffff47;
}
.section-clients{
    border-bottom: none !important;
}
.btn.bigger{
    min-width: 160px;
    max-width: 100%;
    font-size: 18px;
    padding: 14px 20px;

}
.testi-details{
    font-weight: 500;
    color: white;
}

.testi-box{
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.testi-box .limiter{
    width: 500px;
}
.swiperTestimoni .swiper-button-next,
.swiperTestimoni .swiper-button-prev {
    background: white;
    border-radius: 50%;
    width: 45px !important;
    height: 45px !important;
    color: #3c78d8 !important;
}
.swiperTestimoni .swiper-button-next:after,
.swiperTestimoni .swiper-button-prev:after {
    font-size: 25px !important;
}

.img-form{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-form .card{
    border: 2px solid #3c78d8a8;
}

.section-form .form-control{
    border: 1px solid #3c78d881;
    height: 38px;
}

.section-form .form-error{
    font-size: 11px;
    color: red;
    margin-bottom: 15px;
}
.body-card li{
    margin-left: 30px;
}
.btn-blue-bordered{
    border: 1px solid white;
    background-color: #3c78d8;
    color: white;
    font-weight: 600;
}
.btn-white-cus{
    background-color: white;
    color: #3c78d8;
    font-weight: 600;
}
.btn-wa{
    cursor: pointer;
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #25D366;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wa > *{
    color: white;
    font-size: 45px;
}
.list-data{

    color: black;
    margin-left: 10px;
    margin-bottom: 5px;
}
.list-data > i{
    color: #3c78d8;
    font-size: 16px;
    margin-right: 5px;
}
.features-items .feature-box .fbox-icon{
    --f-icon-size: none;
}
 .fbox-icon img{
    border-radius: 15px;
    background-color: transparent !important;
}
.section-features{
    padding: 15px 30px;
}
/* .btn-wa{
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
}
.btn-wa i{
    color: #25D366;
    font-size: 60px;
} */
.menu-link{
    color: white;
}
.menu-item:hover .menu-link{
    color: rgba(0, 0, 0, 0.904) !important;
}
#footer{
    background-color: #3c78d8 !important;
}
.entry-image img{
    height: 125px;
    object-fit: contain;
}
.widget_links:not(.widget-li-noicon) li::before{
    display: none;
    margin-left: -5px;
}
.dark .widget_links li a{
    margin-left: -10px;
}
@media screen and (max-width:900px) {
    .menu-link{
        color: #444;
    }
    .menu-item:hover .menu-link{
        color: #3c78d8 !important;
    }
    #logo img{
        height: 60px !important;
    }
}
@media screen and (max-width: 450px) {
    .banner-hero{
        padding: 30px 0px;
    }
    .img-banner{
        margin-top: 15px;
    }
    .img-mbl-form{
        margin-bottom: 20px;
    }
    .slider-element{
        min-height: auto !important;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .section-clients{
        display: none;
    }
    .img-banner{
        height: 280px;
    }
    
}